.signUpContainer {
  position: absolute;
  left: 0;
  /* border: 1px solid blue; */
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: 1;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  animation: show 0.6s;
}

.signUpContainer.rightPanelActive {
  transform: translateX(81.7%);
  opacity: 1;
  z-index: 5;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.signUpContainer h3 {
  font-weight: 200;
  margin-left: 20%;
}

.signUpContainer h4 {
  font-weight: 200;
  font-size: 15px;
  margin-left: 22%;
  margin-top: -0.1px;
}

.signUpContainer p {
  margin-top: -17px;
  margin-bottom: 6%;
  font-size: 11px;
  margin-left: 24.5%;
  opacity: 50%;
}

.signUpContainer h5 {
  opacity: 40%;
  font-weight: 400;
  font-size: 12px;
  margin-top: -3%;
  margin-right: 17%;
}

.formInputs {
  /* border: 1px solid black; */
  position: relative;
  margin-left: 20%;
  top: 2%;
  padding: 2%;
  width: 80%;
  display: flex;
  display: flex;
  flex-direction: column;
}

.formInputs.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.formInputs.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.formInputs.invalid p {
  position: relative;
  top: 12px;
  right: 22%;
  color: red;
}

.signUpContainer label {
  padding: 2px;
  color: #706f7d;
}

.signUpContainer input {
  border-radius: 4px;
  padding: 5px;
  height: 28px;
  border: none;
  box-shadow: 0px 14px 32px rgba(118, 118, 118, 0.25);
  margin-bottom: 3%;
  width: 95%;
  transition: 0.6s border, 0.6s background-color;
}

.signUpContainer input:focus {
  outline: none;
  border: 1px solid #240370;
  background-color: #e0d4fd;
}

.formActions {
  /* border: 1px solid red; */
  position: relative;
  top: 5%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpButton {
  width: 28%;
  margin-left: 20%;
  padding: 3%;
  border-radius: 17px;
  background-color: #817cc4;
}

.signUpButton:disabled {
  cursor: not-allowed;
}
