.votersListPageCover {
  height: 90vh;
  display: flex;
}

.pageContent {
  width: 80%;
  display: flex;
  padding: 5%;

  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.pageContent.loading {
  align-items: center;
  justify-content: center;
}
